@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Plus+Jakarta+Sans&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 1px;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.input-border{
    border: 1px solid;
}

.max-wid{
    max-width: 1500px;
    margin: 0 auto;
}